<app-header titulo="alert"></app-header>

<ion-content class="ion-padding">

    <ion-button (click)="presentAlert()" expand="block">
        Click me
    </ion-button>

    <ion-button (click)="presentAlertMulpleButtons()" expand="block">
        Multiple Buttons 
    </ion-button>

    <ion-button (click)="presentAlertPromt()" expand="block">
        Present Multiple  Promts 
    </ion-button>

    <ion-button (click)="presentAlertRadio()" expand="block">
        Present Radio options
    </ion-button>

    <ion-button (click)="presentAcept()" expand="block">
        Present acept mesage
    </ion-button>

</ion-content>






